.card-item {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card-image:hover{
    transform: scale(1.09, 1.09);
}
.add-btn:focus{
    overflow-x: auto;
    margin-right:0 !important;
}